html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
a{
    margin:0;
    padding:0;
    text-decoration: underline;
}
ul{
    list-style: none;
}
p{
    color: gray;
    font-size: 14px;
}
strong{
    color: black;
}
.clear{
    clear: both;
}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviardreams-webfont.eot');
    src: url('../fonts/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams-webfont.woff') format('woff'),
         url('../fonts/caviardreams-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*end reset*/
body{
    background: #fff;
    
}
header{


    z-index: 50;
    width: 100%;
    position: absolute;
    z-index: 10000 !important;

}

.logo{
    display: block;
    width: 86px;
    height: 58px;
    margin: 0 auto;
    position: relative;
    top: 56px;
    left: 12px;
    z-index: 100;
        background: url(../imgs/logo.png) no-repeat center;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.logo:hover{
        background: url(../imgs/logoh.png) no-repeat center;
}

.contenedor{
    width: 96%;
    max-width: 1080px;
    margin: 0 auto;

}

.botonmenu{
    display: block;
    background: #e6e6e6  url(../imgs/menu.png) no-repeat center;
        max-width: 1000px;
    height: 40px;
    width: 50px;
    position: fixed !important;
    cursor: pointer;
  color: white;
  right: 0;
/*  float: right;*/
  top: 0;
  z-index: 10000000000000;
}

nav{
width: 100%;
    /* background: #23a1e4; */
    max-width: 790px;
    /* float: right; */
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
}

nav li{
float: left;
    position: relative;
    width: 18%;
    margin: 0 1%;
}
nav li a{
    color: #fff;
font-size: 16px;
    font-family: arial;
    display: block;
    letter-spacing: 1px;
    height: 32px;
    width: 100%;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: transparent;

padding: 4px 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
nav li a:hover{
    color: #1ab0ca;
    text-shadow: none;

}

.redes{
  display: block;
  margin-top: 15px;
}


.redes li{
  float: left;
  margin-right: 6px;
}

.redes li a{
  display: block;
  margin: 0 4px;
    width: 38px;
    height: 38px;
        -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;


}
.redes li a:hover{
  opacity: 0.5;
}
.boxprincipal{
width: 97%;
    max-width: 655px;
  height: 200px;
/*  background:rgba(0,0,0,0.45);*/

  display: block;
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 100000;
  bottom: 0;
  padding-bottom: 0;
}
.boxprincipal img{
  display: block;
  margin: 0 auto;
  width: 92%;
  max-width: 532px;
}
.line{
  display: block;
  width: 150px;
  height: 4px;
  background: white;
  margin: 12px auto;

}

.contactenos{
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: block;
  text-align: center;
  border: 3px solid white;
  padding: 9px 31px;
  z-index: 1000;
    font-family: 'caviar_dreamsregular';
  font-size: 19px;
  color: white;
  text-decoration: none;
}
.contactenos:hover{
  border: 3px solid white;
  text-decoration: underline;

}
.tituloseccion{
    display: block;
    margin: 0 auto;
    border-top: 2px solid gray;
    width: 100%;
    max-width: 358px;
    padding-top: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.dobleline{
    width: 310px;
    margin-top: 140px;
    margin-bottom: 100px;
}
.tituloseccion h2{
    font-family: 'caviar_dreamsregular';
  font-size: 32px;
  color: #404040;
  text-align: center;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.tituloseccion span{
    font-family: 'caviar_dreamsregular';
  font-size: 15px;
  color: #A0A0A0;
    text-align: center;
    text-transform: uppercase;
      display: block;
          font-weight: normal;
}

.destacados{
  display: block;
  margin: 0 auto;
  width: 100%;
}
.destacados li{
  float: left;
  margin: 0 1%;
  width: 31%;
}
.destacados li a{
  display: block;
  background: #E6E6E6;
  width: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;

/*  height: 310px;*/
}
.destacados li a img{
  display: block;
  width: 100%;
}
.destacados li a:hover{
  opacity: 0.6;
}
.destacados h3{
  color: gray;
      font-family: 'caviar_dreamsregular';
  font-size: 16px;  
    text-align: center;
      display: block;
          font-weight: normal;
  padding-top: 10px;
  border-top: 2px solid silver;
  margin: 0 auto;
  margin-top: 30px;
  width: 60%;

}

.footlogo{
  display: block;
  width: 61px;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 70px;
}
.danino{
    display: block;
 width: 100%;
 max-width: 1050px;
  margin: 0 auto;
}
.graybottom{
  height:auto;
      background: #B0B0B0;
  width: 100%;
  margin-top: 28px;
  padding-top: 15px;
  padding-bottom: 15px;

}
.textleft{
  color: white;
        font-family: arial;
  font-size: 13px; 
        display: block;
          font-weight: normal;
          float: left;
          width: 40%;
          text-align: left;
}
.textright{
    color: white;
        font-family: arial;
  font-size: 13px; 
        display: block;
          font-weight: normal;
          float: right;
          width: 40%;
          text-align: right;
}
.separa{
    color: #BDBDBD;

  font-size:23px; 
        font-family: 'caviar_dreamsregular';
        display: block;
          font-weight: normal;
          margin: 14px 0;
          text-decoration: underline;
}
.separa:hover{
  color: #909090;
}
/*------------------menuLEFT------------*/



.modulartista{
  display: block;
  width: 100%;
/*  background: silver;*/
}
.modelleft{
    width: 50%;
    display: block;
    background: white;
    float: left;
    position: relative;
    /*min-height: 337px;*/


}
.modelleft h2{
color: #494949;
font-size:28px; 
font-family: 'caviar_dreamsregular';
display: block;
  font-weight: bold;
  margin-bottom: 6%;
  text-transform: uppercase;
}

.modelleft span{
color: #494949;
font-size:18px; 
font-family: 'caviar_dreamsregular';
display: block;
  font-weight: normal;
}

.btninfo{
      border:2px solid #646464;
  display: block;
  text-align: center;
font-weight: bold;
    color: #696969;
font-size:15px; 
font-family: 'caviar_dreamsregular';
padding: 7px 8px;
width: 130px;
text-decoration: none;
text-transform: uppercase;
margin-top: 6%;
}
.btninfo:hover{
   border: 2px solid #2B2B2B;

color: #181818;
}
.art{
  display: block;
  float: left;
  width: 50%;
}
.infoart{
position: relative;
    margin: auto;
    margin-top: 11%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 280px;
}
.infoart p{
    color: #252525;
    font-size: 15px;
    font-family: 'caviar_dreamsregular';
}


.boxarte{
  margin-top: 50px;
  display: block;
}
.leftarte, .infopisco{
width: 45%;
    display: block;
    background: white;
    float: left;
    margin-top: 180px;
    margin-left: 3%;
}
.infopisco{
  width: 43%;
  margin-top: 0;
}
.leftarte h2, .infopisco h2{
  color: #494949;
font-size:35px; 
font-family: 'caviar_dreamsregular';
display: block;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.infopisco h2{
    color: #2D2D2D;
font-size:38px; 
}
.leftarte span, .infopisco span{
  color: #494949;
font-size:18px; 
font-family: 'caviar_dreamsregular';
display: block;
  font-weight: normal;
}
.leftarte p, .infopisco p{
color: #000000;
    font-size: 17px;
    font-family: 'caviar_dreamsregular';
    display: block;
    font-weight: normal;
    line-height: 25px;
    text-align: justify;
}
.botle{
  float: left;
  display: block;
  width: 50%;
  max-width: 777px;
}
.imgpisco {
    float: right;
    display: block;
    width: 46%;
    max-width: 424px;
    margin-left: 3%;
}
.slidertwo{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 60px;
  height: auto !important;
}


.altdoble{
  line-height: 16px;
  height: auto;
  text-align: left;
}

.textbodega{
  color: #000000;
    font-size: 17px;
    font-family: 'caviar_dreamsregular';
    display: block;
    font-weight: normal;
    line-height: 25px;
    text-align: justify;
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    margin-top:100px;
}
.imgbodega{
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
      margin-top: 100px;
}

.boxhistoria, .boxhistoria2{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
/*  background: red;*/
}
.boxhistoria2{
    width: 100%;
  max-width: 460px;
}
.modulohistoria{
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  margin-bottom: 32px;
  margin-top: 20px;
  height: 100px;

}
.modulohistoria span{
  display: block;
  width: 35px;
  height: 35px;
  background: #A8A8A8;
  text-align: center;
  color: white;
      font-size: 17px;
    font-family: 'caviar_dreamsregular';
    border-radius: 35px;
    line-height: 32px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.modulohistoria p{
    color: gray;
      font-size: 22px;
    font-family: 'caviar_dreamsregular';
    text-align: center;
    display: block;
}


.boxproceso{
  display: block;
  width: 100%;
  max-width: 700px;
  background: white url(../imgs/proceso/bg.png) no-repeat center;
  height: 530px;
  margin: 0 auto;
  position: relative;
  margin-top: 60px;
  margin-bottom: 200px;
}
.proccenter{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 68px;
    bottom: 0;
    margin: auto;
    max-width: 188px;
    width: 100%;
}

.proceso1 {
    top: 10px;
    position: absolute;
    left: 390px;
    display: block;
}
.proceso2 {
    top: 152px;
    position: absolute;
    right: 81px;
    display: block;
}
.proceso3 {
    top: 365px;
    position: absolute;
    right: 113px;
    display: block;
}
.proceso4 {
    bottom: -85px;
    position: absolute;
    left: 295px;
    display: block;
}
.proceso5 {
    top: 374px;
    position: absolute;
    left: 116px;
    display: block;
}
.proceso6 {
    top: 207px;
    position: absolute;
    left: 68px;
    display: block;
}
.proceso7 {
    top: 27px;
    position: absolute;
    left: 231px;
    display: block;
}
.boxinfo1, .boxinfo2, .boxinfo3, .boxinfo4, .boxinfo5, .boxinfo6, .boxinfo7{
  display: none;
  }


.infobarril{
  display: none;
  position: absolute;
width: 300px;
    top: 20%;
    left: 82%;
    margin-left: -110px;
    background: #F3F3F3;
    border: 1px solid #CDCDCD;
    box-shadow: 0px 2px 1px gray;
    opacity: 1;
    z-index: 100;
    padding: 20px;

  }


  .boxinfo1, .boxinfo2, .boxinfo3, .boxinfo4, .boxinfo5, .boxinfo6, .boxinfo7{
  display: none;
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -170px;
  background: #F3F3F3;
  border: 1px solid #CDCDCD;
  box-shadow: 0px 2px 1px gray;
  opacity: 1;
  z-index: 100000;
  padding: 20px;
}

.linedouble{
      max-width: 480px;
      width: 100%;

}

.ancortext{
  max-width: 680px;
  width: 100%;
}

.boxvideo{

  display: block;
  margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
/*    margin-bottom: 30px;*/
}

.boxbarril{
  margin: 0 auto;
  margin-top: 70px;
  width: 100%;
  max-width: 700px;
  display: block;
  position: relative;

}

.imgbarril, .imgbarril2{
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  max-width: 220px;
  text-align: center;
}
.imgbarril2{
  max-width: 110px;
}
.boxvideo iframe{
  width: 100%;
/*  height: auto;*/
}


.boxontrade{
    width: 24%;
    max-width: 200px;
    display: block;
    float: left;
    border: 1px solid #EAEAEA;
    border-bottom: 2px solid #DADADA;
    background: #FBFBFB;
    padding: 1.5%;
    margin: 1% 1%;
    height: 98px;
              -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.boxontrade:hover{
   border: 1px solid #9C9C9C;
   border-bottom: 2px solid #9C9C9C;
  background: #FFFFFF;
}
.boxontrade .pin{
  display: block;
  float: left;
      width: 28px;

}
/*.boxontrade .pin:hover{
  opacity: 0.4;
}*/
.boxontrade .infopin{
display: block;
    float: left;
    margin-left: 15px;
    width: 156px;
    color: #565656;
    font-family: 'caviar_dreamsregular';
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;    
}
.boxontrade .infopin span{
      font-size: 16px;
      color: #151515;

}

.boxontrade .tripleline{
  font-size: 11px;
    line-height: 15px;
}


.contactleft{
  display: block;
  float: right;
  width: 50%;
/*  padding-top: 90px;*/
  margin-top: 50px;
    padding-left: 4%;
  border-left:1px solid silver;
  padding-bottom: 55px;
}




.contactleft p{
        font-family: 'caviar_dreamsregular';
    font-size: 18px;
    color: #1F1F1F;
    margin-bottom: 30px;
    display: block;
    line-height: 24px;
}


.boxmedal{
display: block;
/*    background: #FBFBFB;*/
    width: 29%;
    max-width: 307px;
/*    border: 1px solid #D2D2D2;
    border-bottom: 2px solid silver;*/
    height: 125px;
    float: left;
    padding: 1%;
    margin: 0 1%;
}

.boxmedal img{
     display: block;
    float: left;
    width: 11%;

}

.boxmedal p{
display: block;
    float: left;
    margin-left: 3%;
    font-family: 'caviar_dreamsregular';
    font-size: 15px;
    color: #1C1C1C;
    width: 86%
}

.centermedal .boxmedal{
width: 42%;
    margin-left: 5%;
}


.boxmedal span{
        font-family: 'caviar_dreamsregular';
    font-size: 23px;
    color: #3B3B3B;
    font-weight: bold;
line-height: 45px;
}

.titano{
border-bottom: 1px solid #969696;
    padding-bottom: 4px;
    width: 94px;
    font-size: 38px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 50px;
}

.centermedal{
  margin: 0 auto;
  max-width: 690px;
  width: 100%;
}

.boxmedal .lettersmal{
    font-size: 11px;
    line-height: 18px;

}

.infopisco .subreceta{
  font-size: 20px;
  font-weight: bold;
}

.infopisco p{
  font-size: 14px;
}
/*.openmenu{
  display: none;
}*/

.buletitem .ls-nav{
  max-width: 168px;
  width: 100%;
}

.ls-select-box{
  display: none !important;
}
#main-slider-nav-ul{
  display: block !important;
}

.itembul .ls-nav{
  max-width: 226px;
  width: 100%;
}

.bullettre .ls-nav{
  width: 88px !important;

}



.space{
/*  width:86px;*/
  display: block;

    }
    .space p{
          padding: 4px 26px;
          display: block;
    }
.btnver{
margin: 0 auto;
    display: block;
    text-align: center;
    border: 2px solid white;
    padding: 8px 5px;
    z-index: 100000000;
    font-family: arial;
    width: 181px;
    border-radius: 8px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    margin-top: 30px;
}
.btnver:hover{
background: rgba(0,0,0,0.6);
          color: white;
}
.bgblack{
  width: 100%;
  display: block;
  background: #030303;
  height: 150px;
    padding-top: 35px;
  padding-bottom: 35px;

}
.bgblack .leftbox p{
  font-size: 13px;
  text-align: left;
  color: #cecece;
  display: block;
  margin-top: 10px;

}

.leftbox img{
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;

}
.texto{
  color: white;
  font-family: arial;
  font-size: 12px;
  display: block;
  text-align: left;
}

.centerbox{
display: block;
    float: left;
    max-width: 280px;
    width: 28%;
    padding-left: 5%;
}

.centerbox p{
  line-height: 23px;
}
.rightbox{
display: block;
    float: left;
    max-width: 360px;
    width: 33%;
}
.camponombre{
display: block;
    border: 1px solid silver;
    background: transparent;
    padding: 9px;
    float: left;
}

.enviar{
    display: block;
    background: url(../imgs/submit.png) no-repeat center;
    width: 56px;
    height: 36px;
    float: left;
    border: none;
    cursor: pointer;
    margin-left: 7px;
    text-indent: 99999px;
    overflow: hidden;
}
.headinterno{
  position: relative;
  background: white;
  padding-bottom: 30px;
}
.headinterno nav li a{
  color: #676767;
}
.leftdoctor{
  display: block;
  width: 31.3%;
  float: left;
      margin: 0 1%;
}
.leftdoctor img{
  display: block;
  width: 100%;
  margin-bottom: 16px;
}
/*.centerdoctor{
  display: block;
  width: 31.3%;
  float: left;
      margin: 0 1%;
}
.rightdoctor{
  display: block;
  width: 31.3%;
  float: left;
      margin: 0 1%;
}*/
.boximages{
  display: block;

  max-width: 800px;
  width: 90%;
  margin: 0 auto;
    margin-top: 50px;
  margin-bottom: 40px;
}
.footback{
  background: url(../imgs/bgfooter.jpg) no-repeat center;
  background-size: cover;
/*  margin-top: 50px;*/
}

#theform {
    float: right;
    margin-left: 4%;
    width: 45%;
    max-width: 385px;
    margin-top: 30px;
}
.caja {
    margin-bottom: 16px;
}
.rotulo {
    font-size: 15px;
    font-family: arial;
    font-weight: normal;
    color: #5d5d5d;
    padding: 3px;
    padding-right: 20px;
    width: 90px;
    border-radius: 3px 3px 0 0;
}
.cajatexto {
    height: 28px;
    width: 97%;
    background: #fff;
    border: none;
    color: #000;
    font-size: 13px;
    font-family: arial;
    padding-left: 2%;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
}
.boton-enviar {
display: block;
    background: rgb(19, 19, 19);
    width: 130px;
    height: 34px;
    color: white;
    font-size: 15px;
    font-family: arial;
    font-weight: normal;
    border: none;
    cursor: pointer;
    /* border-radius: 6px; */
    /* border-bottom: 2px solid #7c9a31; */
    margin-bottom: 45px;
}
.boton-enviar:hover{
      background:#24a3c9;
}
.mensaje {
    height: 140px;
}
.leftbox {
display: block;
    float: left;
    max-width: 354px;
    width: 46%;
    margin-top: 32px;
    margin-bottom: 20px;

}
.leftbox a{
  display: block;
  width: 190px;
  height: 94px;
  background: url(../imgs/logofooter.png) no-repeat center;
}
.leftbox a:hover{
  background: url(../imgs/logofooterh.png) no-repeat center;
}
.titulos {
    color: white;
    font-family: arial;
    font-size: 15px;
    display: block;
    text-align: left;
    margin-bottom: 20px;
}
.leftbox .titulos {
    font-size: 17px;
}
.boxcontac{
  display: block;
  width: 96%;
  max-width: 750px;
  margin: 0 auto;
}
.leftbox p{
  line-height: 25px;
      color: #404040;
    font-size: 15px;
}
.leftbox .titulos{
    line-height: 25px;
    color: #0a91b5;
    font-size: 15px;
    font-weight: normal;
}
.leftbox strong{
  font-weight: bold;
  font-size: 16px;
}

.leftbox img{
  width: 100%;
  display: block;
}
.boxsub1,.boxsub2 {
  display: none ;
}

nav li .boxsub1, nav li .boxsub2{
    width: 190px;
    left: 0;
    border-top: 2px solid #1ab0ca;
    background: rgba(0,0,0,0.7);
}

.boxsub1 li, .boxsub2 li{
    width: 100%;
    margin: 0;

    max-width: 100%;
}

.boxsub1 li a, .boxsub2 li a{
padding: 0;
    border-bottom: 1px solid #636363;
    height: 38px;
        line-height: 40px;
        font-size: 13px;
        letter-spacing: 0;
}
.fondoimg, .fondo2, .fondo3, .fondo4, .fondo5, .fondo6, .fondo7, .fondo55{
  display: block;
  width: 100%;
  height: 440px;
  position: relative;
  top: 0;
  margin-bottom: 50px;
  background: url(../imgs/fondo1.jpg) no-repeat top center;
  background-size: cover;
  background-position: center center;
}
.fondo2{
  background: url(../imgs/fondo2.jpg) no-repeat top center;
    background-size: cover;
}
.fondo3{
  background: url(../imgs/fondo3.jpg) no-repeat top center;
    background-size: cover;
}
.fondo4{
  background: url(../imgs/fondo4.jpg) no-repeat top center;
    background-size: cover;
}
.fondo5{
  background: url(../imgs/fondo5.jpg) no-repeat top center;
    background-size: cover;
}
.fondo55{
  background: url(../imgs/fondo8.jpg) no-repeat top center;
    background-size: cover;
}
.fondo6{
  background: url(../imgs/fondo6.jpg) no-repeat top center;
    background-size: cover;
}
.fondo7{
  background: url(../imgs/fondo7.jpg) no-repeat top center;
    background-size: cover;
}
.headsombra{
  position: relative;

      background: -moz-linear-gradient(top, #000000 0%, rgba(0,0,0,0.0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,rgba(0,0,0,0.0)));
    background: -webkit-linear-gradient(top, #000000 0%,rgba(0,0,0,0.0) 100%);
    background: -o-linear-gradient(top, #000000 0%,rgba(0,0,0,0.0) 100%);
    background: -ms-linear-gradient(top, #000000 0%,rgba(0,0,0,0.0) 100%);
    background: linear-gradient(to bottom, #000000 0%,rgba(0,0,0,0.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='rgba(0,0,0,0.0)',GradientType=0 );
}
.fondoimg h1{
color: white;
    text-align: center;
    color: #fff;
    font-size: 42px;
    font-family: arial;
    position: relative;
    z-index: 10000;
    letter-spacing: 3px;
    margin-top: 190px;

}
.details h1{
    font-size: 24px;
    font-family: arial;
    text-align: center;
    letter-spacing: 1px;
    display: block;
    width: 85%;
    margin: 0 auto;
    margin-top: 42%;
}
.texto-gray{
color: #969696;
    font-family: arial;
    font-size: 18px;
    display: block;
    font-weight: normal;
    text-align: left;
    line-height: 30px;

}
.titulo{
color: black;
    font-family: arial;
    font-size: 30px;
    display: block;
    text-align: left;
    font-weight: normal;
    margin-bottom: 30px;

}
.texto-gray strong{
  color: black;
  font-size: 17px;
}
.boxconsult{
  display: block;
  margin-bottom: 70px;
  margin-top: 70px;
}
.imgconsulta{
  display: block;
  float: left;
  max-width: 300px;
  margin-right: 4%;
  width: 30%;

}
.controlimg{
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.infoconsult{
  display: block;
  float: left;
  width: 65%;
}
.margright{
  margin-right: 0;
    margin-left: 4%;
}
.solicitar{

    display: block;
    text-align: center;
    background: black;
    padding: 8px 5px;
    /* z-index: 10; */
    font-family: arial;
    width: 145px;
    border-radius: 8px;
    font-size: 15px;
    float: left;
    color: white;
    text-decoration: none;
    margin-top: 15px;
}
.infoconsult .solicitar:hover, .solicitar:hover{
  background: #24a3c9;
}
.leftserv .solicitar{
  float: right;
}

.bulletp{
  list-style: disc;
  display: block;
  margin-left: 25px;
}
.bulletp li{
  margin-bottom: 10px;

}

.faceinfo{
display: block;
    float: right;
/*    width: 41px;*/
    margin-right: 15px;
    margin-top: 5px;
    margin-left: 15px;
}
.leftserv .faceinfo{
      float: right;
}
.infoconsult .texto-gray{
      line-height: 24px;
          font-size: 17px;
}

.botonesego{
display: block;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 60px;
    margin-top: 60px;
    width: 100%;

}
.botonesego li{
    display: block;
    max-width: 169px;
    float: left;
    width: 29%;
    margin: 0 2%;
}
.botonesego li a{
display: block;
    padding: 16px 6%;
    text-transform: uppercase;
    background: #ffffff;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
                  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.botonesego li a.activo, .botonesego li a:hover{
  background: black;
  color: white;
}
.textego{
    display: block;

}
.fotoego{
    max-width: 400px;
  display: block;
  float: right;
  width: 45%;
  margin-left: 3%;
  margin-bottom: 50px;
}
.imgboxego{
  display: block;
    float: left;
    width: 48%;
    margin-right: 3%;
    margin-bottom: 50px;
}

.btnred{
  display: block;
  float: left;
      margin-top: 12px;
      margin-left: 7px;
}
.needsfilled{
    background: #f3b2a2;
}
.boximages .video{
  width: 100%;
  display: block;
  margin-top: 60px;
  margin-bottom: 14px;


}
.textovideo{
  font-size: 15px;
  font-family: arial;
  color: #666666;
}
.titvideo{
  margin-bottom: 6px;
}
.btnvervideo{
    display: block;
    text-align: center;
    background: black;
    padding: 8px 5px;
    /* z-index: 10; */
    font-family: arial;
    width: 145px;
    border-radius: 8px;
    font-size: 15px;
    float: left;
    color: white;
    text-decoration: none;

    left: 50%;
    margin-left: -70px;
    position: absolute;
    text-decoration: none;
    margin-top: 10px;
}
.btnvervideo:hover{
    background: #24a3c9;
}
.boxvideored{
  display: block;
    max-width: 190px;
    float: right;
  width: 100%;

}
.videobox{
  position: relative;
  display: block;
  border-bottom: 1px solid silver;
  padding-bottom: 12px;
}
.boxvideored .faceinfo{
  margin: 0 3px;
  margin-top: 4px;
}