

.slider-box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.slider-item {
    display: inline;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.slider-left, .slider-right {
    display: none;
    position: absolute;
    width: 35px;
    height: 100%;
    opacity: 0.8;
    z-index: 3;
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;
}

.slider-left {
    left: 10px;
    background: url('../img/jArrows.png') left center no-repeat;
}

.slider-right {
    right: 10px;
    background: url('../img/jArrows.png') right center no-repeat;
}

.slider-left:hover, .slider-right:hover {
    opacity: 1;
}

.slider-pointers {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 99;
}

.slider-pointers .slider-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 10px;
    border: 1px solid white;
    background: transparent;
    text-indent: -9999px;
    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    cursor: pointer;
}

.slider-point.active {
    background: white;
}
