
/*
*@author:Jacobwang
*@date:2015-04-15
*@info:main.css
*/

/*reset*/

body { font-family: Microsoft YaHei, "Source Sans Pro", Helvetica, Arial, sans-serif; }

a { cursor: pointer; }

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wrap-index { overflow: hidden; }

.dark-green { color: #4c5b52; }

.light-green { color: #00853e; }

.mb-50 { margin-bottom: 50px; }

/*slider*/

.slider { display: block;    height: 720px;position: relative; z-index: 100; }

.alturaint{
  height: 720px !important;
}

.slider .jquery-reslider .slider-block {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 97;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0;
}

.slider .jquery-reslider .slider-direction {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 45%;

    z-index: 10000000000 !important;
  cursor: pointer;

}

.slider .jquery-reslider .slider-direction.slider-direction-prev {
  left: 20px;
  background: url('../imgs/prevb.png') no-repeat;
      -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.slider .jquery-reslider .slider-direction.slider-direction-next {
  right: 20px;
  background: url('../imgs/next.png') no-repeat;
      -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.slider-direction.slider-direction-prev:hover, .slider-direction.slider-direction-next:hover{
  opacity: 0.5;
}


.slider .jquery-reslider .slider-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 80px;
  z-index: 10000000000 !important;
}

.slider .jquery-reslider .slider-dots li {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  display: inline-block;
  margin: 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.cajared{
  display: block;
  height: 300px;
  width: 400px;
  background:red;
}
.clear{
  clear: both;
}

.slider .jquery-reslider .slider-dots li.active { background-color: #ffffff; }
@media screen and (max-width: 768px) {

.slider .jquery-reslider .slider-direction { zoom: .8; }

.slider .jquery-reslider .slider-dots { position: absolute; }
}
