/*
	Mosaic - Sliding Boxes and Captions jQuery Plugin
	Version 1.0.1
	www.buildinternet.com/project/mosaic
	
	By Sam Dunn / One Mighty Roar (www.onemightyroar.com)
	Released under MIT License / GPL License
*/


/*General Mosaic Styles*/
.mosaic-block {
    width: 25%;
    float: left;
    max-width: 645px;
    display: block;
    margin: 0 0%;
    float: left;
    position: relative;
    overflow: hidden;
/*background: #111 url(../img/progress.gif) no-repeat center center;*/

}
.mosaic-backdrop img{
    display: block;
    width: 100%;
}

.mosaic-backdrop {
display: none;

top: 0;
height: 100%;
width: 100%;
/*background: #111;*/
}
.mosaic-overlay {
display: none;
z-index: 5;
position: absolute;
width: 100%;
color: white;
text-decoration: none;
height: 100%;
background: #111;
}
/*** Custom Animation Styles (You can remove/add any styles below) ***/
.circle .mosaic-overlay {
background: url(../img/hover-magnify.png) no-repeat center center;
opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
filter: alpha(opacity=00);
display: none;
}
.fade .mosaic-overlay {
opacity: 0;
bottom: 0;
    height: 100%;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
filter: alpha(opacity=00);
background: rgba(0,0,0,0.8);
}
.bar .mosaic-overlay {
bottom: -100px;
height: 100px;
background: url(../img/bg-black.png);
}
.bar2 .mosaic-overlay {
bottom: -50px;
height: 100px;
opacity: 0.8;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);
}
.bar2 .mosaic-overlay:hover {
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
}
.bar3 .mosaic-overlay {
top: -100px;
height: 100px;
background: url(../img/bg-black.png);
}
		/*** End Animation Styles ***/
