







@media screen and (min-width: 1010px) {

nav{
    display: block !important;
}
.botonmenu{
    display: none !important;
}




.curso:hover .boxsub1, .curso:hover .boxsub2{
    display: block !important;
    position: absolute;
}






.boxproceso img{
          -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
 
}
.proceso1 img:hover, .proceso2 img:hover, .proceso3 img:hover, .proceso4 img:hover, .proceso5 img:hover, .proceso6 img:hover, .proceso7 img:hover{
  opacity: 0.7;
  transform: scale(1.1);
}






.proceso1{
              -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.proceso1:hover .boxinfo1, .proceso2:hover .boxinfo2, .proceso3:hover .boxinfo3, .proceso4:hover .boxinfo4, .proceso5:hover .boxinfo5, .proceso6:hover .boxinfo6, .proceso7:hover .boxinfo7{
  display: block !important;
  position: absolute;

}

.boxbarril:hover .infobarril{
  display: block !important;
  position: absolute; 
}




.boxinfo1 h2, .boxinfo2 h2, .boxinfo3 h2, .boxinfo4 h2, .boxinfo5 h2, .boxinfo6 h2, .boxinfo7 h2{
font-family: 'caviar_dreamsregular';
    font-size: 31px;
    color: #404040;
    text-align: left;
    display: block;
    font-weight: bold;  
}
.boxinfo1 p, .boxinfo2 p, .boxinfo3 p, .boxinfo4 p,.boxinfo5 p, .boxinfo6 p, .boxinfo7 p{
  color: #000000;
    font-size: 15px;
    font-family: 'caviar_dreamsregular';
    display: block;
    font-weight: normal;
    line-height: 20px;
    text-align: justify;
}

}
















@media screen and (max-width: 999px) {
nav{
    display: none;
}
nav{

    width: 100%;
    max-width: 100%;
    bottom: inherit;
    background: white;
    margin-top: 0;
    z-index: 1000;

}
.contenedor{
    width: 96%;
}
nav li{
    width: 100%;
    float: none;
    margin: 0;
}
nav li a{
    width: 100%;
   border-top: 1px solid rgb(214, 214, 214);
   padding: 4px 0;
       color: gray;
           line-height: 36px;
               font-size: 14px;
}
nav li .boxsub1, nav li .boxsub2{
    width: 100%;
    border: none;

    background: rgba(224, 224, 224, 0.7);

}
.boxsub1 li a, .boxsub2 li a{
    border-bottom: none;
}
.space{
    display: none;
}
.blue{
    background: blue !important;
}
.botonmenu{
    position: relative;

}
nav{
bottom: inherit !important;
top: 0 !important;
position: fixed;
    left: 0;
}
header {
    height: auto;
}
nav li .boxsub, nav li .boxsub2, nav li .boxsub3, nav li .boxsub4{
    width: 100%;
    background: #E6E6E6;
}
nav li a{
    text-shadow:none;
}
.altdoble{
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 13px;
}
.destacados li{
        width: 50%;
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
        min-height: 360px;
        min-width: 370px;

    }
    .boxprincipal{
width: 96%;
    max-width: 655px;
    padding: 2%;

    }
    .textbodega{
        width: 92%;
    }
    div.slider{
        height: 600px;
    }
}



@media screen and (max-width: 920px) {

.leftarte{
    margin-top: 8%;
}

.details h1{
    font-size: 17px;
}

}


@media screen and (max-width: 890px) {

    .infopisco{
        width: 90%;
        float: none;
        margin: 0 auto;

    }
    .imgpisco{
           float: none;
        margin: 0 auto;   
        margin-top: 30px;  
        min-width: 290px;
    }
    .proceso1, .proceso2, .proceso3, .proceso4, .proceso5, .proceso6, .proceso7 {
        cursor: pointer;
    }
    .boxproceso img{

    position: relative;

}
.imgpisco{
    width: 100%;
}
.infopisco p{
    font-size: 15px;
}
}
@media screen and (max-width: 870px) {

.imgbarril, .imgbarril2 {
        margin-bottom: 10px;
    width: 40%;

}
.boxbarril{
    margin-top: 40px;
}

.infobarril{
width: 300px;
    left: 0;
    margin-left: 10px;
    top: 55%;

  }

.boxmedal span{
       font-size: 19px; 
}

.bgblack{
    height: auto;
    padding-bottom: 20px;
}
.leftbox{
    width: 100%;
    max-width: 100%;
    float: none;
    margin: 0 auto;
    border-bottom: 1px solid #737373;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.centerbox{
        max-width: 100%;
       width: 100%;
    float: none;
    margin: 0 auto; 
    padding: 0;
        border-bottom: 1px solid #737373;
    padding-bottom: 10px;
    margin-bottom: 10px;

}
.rightbox{
        max-width: 100%;
         width: 100%;
    float: none;
    margin: 0 auto;   
}

}

@media screen and (max-width: 790px) {
   .infoart{
    margin-top: 5%;
   } 

div.mosaic-block{
    width: 33.3%;
}

}



@media screen and (max-width: 740px) {

.boxhistoria2 {
    width: 100%;
    max-width: 405px;
}
.boxhistoria {
    max-width: 405px;
}
.modulohistoria{
width: 42%;
    margin-left: 4%;
    padding: 0;
    margin-right: 4%;
}
.proccenter{
   top: 0;
     bottom: inherit; 
     position: relative; 
}
.boxproceso{
    width: 62%;
    background: inherit;
        height: auto;
}


@media screen and (max-width: 720px) {

    .boxmedal span{
       font-size: 16px; 
}

.proceso1, .proceso2, .proceso3, .proceso4, .proceso5, .proceso6, .proceso7 {
    top:inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 38%;
    height: 136px;
    margin-top: 20px;
    margin-top: 20px;
    float: left;
        margin-left: 6%;
    margin-right: 6%;

}

.boxproceso img{
    display: block;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}
.textleft, .textright{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    float: none;
}
}

@media screen and (max-width: 710px) {
    .modelleft, .art{
        float: none;
        margin: 0 auto;
    }
    .modulartista{
        margin-bottom: 40px;
    }
.modelleft{
width: 88%;
    padding-bottom: 30px;
    background: #F9F9F9;
    border: 1px solid #ECECEC;
    padding-left: 5%;
    padding-right: 5%;
}
.infoart{
    width: 100%;
}
.modelleft h2{
    text-align: center;
}
.modelleft p, .btninfo{
    float: none;
    margin: 0 auto;
}
.art{
    width: 98%;

}
.btninfo{
    margin-top: 20px;
}
    div.slider{
        height: 400px;
    }
    .logo{
        top: 30px;
    }
.boxvideored{
    float: none;
    margin: 0 auto;
    margin-top: 60px;
}

}

@media screen and (max-width: 690px) {
    .leftarte{
        float: none;
        margin: 0 auto;
        width: 90%;
    }
    .botle{
        width: 70%;
                float: none;
        margin: 0 auto;
    }
    .slider .jquery-reslider .slider-direction.slider-direction-next, .slider .jquery-reslider .slider-direction.slider-direction-prev{
        display: none;
    }
#theform{
        float: none;
    width: 94%;
    margin: 0 auto;
    padding: 0;
}
.contactleft{
    float: none;
    margin: 0 auto;
    width: 94%;
     padding: 0;
     border: none;
     margin-top: 30px;
}
.boxprincipal h1{
    font-size: 36px;
}
.boxmedal .lettersmal{
    font-size: 13px;
}
/*.boxprincipal{
    padding-top: 20px;
        height: auto;
}*/
.contactenos{
        right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    width: 80%;
    max-width: 100px;
}

}
@media screen and (max-width: 630px) {
div.mosaic-block{
    width: 50%;

}
.details h1{
        font-size: 19px;
}
.fondoimg, .fondo2, .fondo3, .fondo4, .fondo5, .fondo6, .fondo7, .fondo55{
    background-size: 170%;
    height: 270px;
    margin-bottom: 0;
}
.boximages, .boximages .video{
    margin-top: 10px;
}
}
@media screen and (max-width: 610px) {
    .centermedal .boxmedal, .boxmedal{
        width: 80%;
        float: none;
        margin: 0 auto;
        max-width: 400px;
    }
        .boxmedal span{
       font-size: 22px; 
}
.boxmedal .lettersmal{
    font-size: 15px;
}
#main-slider-wrapper .panel-wrapper{
        padding: 15px 2px;
}

.imgpisco{
    width: 92%;
}
.imgboxego, .fotoego{
    float: none;
    margin: 0 auto;
    width: 100%;
}
.fotoego{
    margin-top: 20px;
    margin-bottom: 20px;
}
.texto-gray{
        font-size: 15px;
        line-height: 26px;
}
.titulo{
margin-bottom: 15px;
    font-size: 22px;
}
.imgconsulta{
    float: none;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}
.infoconsult{
       float: none;
    margin: 0 auto;
    width: 100%; 
}
.boxconsult{
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
}
}

@media screen and (max-width: 550px) {
    .botonesego li{
        margin: auto;
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
.fondoimg, .fondo2, .fondo3, .fondo4, .fondo5, .fondo6, .fondo7, .fondo55{
    background-size: 170%;
    height: 210px;
    margin-bottom: 0;
}
.boximages, .boximages .video{
    margin-top: 0;
}
.botonesego{
        margin-bottom: 30px;
    margin-top: 30px;
}

.respoview{
        background-position: 82% 50% !important;
}
}




@media screen and (max-width: 440px) {
   .proceso1, .proceso2, .proceso3, .proceso4, .proceso5, .proceso6, .proceso7 {

    width:90%;

        margin-left: 5%;
    margin-right: 5%;
} 

div.mosaic-block{
        width: 100%;
        float: none;
        margin: 0 auto;
}
.details h1{
    font-size: 21px;
}
.destacados li{
        width: 100%;
        max-width: 370px;
        min-width: inherit;
}
.separa{
    font-size: 20px;
    text-align: center;

}
.imgpisco{
    min-width: 278px;
}
.altdoble{
    font-size: 11px;
}
.boxsiono a{
    float: none;
    margin: 0 auto;
    padding: 8px 8%;
    margin-bottom: 20px;
}


}


@media screen and (max-width: 370px) {

.tituloseccion{
    display: block;
    width: 96%;

}
.tituloseccion h2{
    text-align: center;
    font-size: 28px;
}
.modulohistoria{
    width: 42%;
    margin-left: 1.5%;
    padding: 0;
    margin-right: 1.5%; 
}
.boxpro {
max-width: 300px;
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
.proceso1, .proceso2, .proceso3, .proceso4, .proceso5, .proceso6, .proceso7{
   width: 95%;
    margin-left: 2%;
    margin-right: 2%; 
}
.boxproceso{
    width: 96%;
    background: inherit;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.boxprincipal h1.medtit{
    font-size: 25px;
}
}